<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+You|Cafe</title>
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
     
    <style>
              .centered-hr {
                  display: flex;
                  align-items: center;
                  text-align: center;
              }
              .centered-hr::before, .centered-hr::after {
                  content: "";
                  flex: 1;
                  border-bottom: 1px solid white;
              }
              .centered-hr:not(:empty)::before {
                  margin-right: .25em;
              }
              .centered-hr:not(:empty)::after {
                  margin-left: .25em;
              }
        .amiri-bold {
          font-family: "Amiri", serif;
          font-weight: 700;
          font-style: normal;
        }

    </style>

</head>
<body class="bg-black">

    <header>
        <nav class="navbar navbar-expand-lg bg-black rounded-2 mt-3">
            <div class="container-fluid d-flex justify-content-center">
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <img class="img img-fluid w-25" src="/src/Img/IMG_9439.PNG">
                </div>
            </div>
        </nav>
        <hr class="text-white">
    </header>
    @RenderSection("AdminPanel", false)
     @RenderBody()
    <footer class="text-center text-lg-start text-muted" dir="rtl">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-white" dir="rtl">
                        <h6 class="text-uppercase fw-bold mb-4 text-end">
                            <i class="fas fa-gem me-3"></i>کافه پلاس یو
                        </h6>
                        <p class="text-end">
                            کافه پلاس یو
                            جایی که هر لحظه طعم خاص خودش رو داره
                            منتظر حضور گرمتان هستیم تا با بهترین کیفیت لحظات دلنشینی رو براتون بسازیم
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-white">
                        <h6 class="text-uppercase fw-bold mb-4 text-center">درباره ما</h6>
                        <p><i> <i class="bi bi-house text-center"></i>اصفهان-خیابان اشراق شمالی-پاساژ پارسیان-کافه پلاس یو</i></p>
                        <p> <i class="bi bi-telephone me-3"></i>989936693697</p>
                        <p> <i> <i class="bi bi-telephone me-3"></i>989134918239</i></p>
                    </div>
                </div>
            </div>
        </section>
        <center>
            <div>
                <a href="#" class="me-4 ">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="me-4">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </center>
        <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
            <a class="text-reset fw-bold" href="#">GitHub</a>
            The graphical items are designed by .
        </div>
    </footer>
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.js"></script>
</body>
</html>