@{
    ViewData["Title"] = "Home Page";
}
<main class="container">
    <div class="row">
        <div class="col-6 row justify-content-end">
            <img class="img-fluid h-100" src="/src/Img/IMG_20241018_190941_527.jpg">
        </div>
        <div class="col-6 text-center row align-items-center">
            <div>
                <p class="text-center fs-2 amiri-bold" style="color:#adb5bd">
                    کافه پلاس یو
                    جایی که هر لحظه طعم خاص خودش رو داره
                    منتظر حضور گرمتان هستیم تا با بهترین کیفیت لحظات دلنشینی رو براتون بسازیم

                </p>
            </div>
        </div>
    </div>
    <div class="centered-hr text-white"><h3>Menu</h3></div>
    <br>
    <div class="row text-center" dir="rtl">
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold text-white amiri-bold">
                نوشیدنی گرم <br>بر پایه قهوه
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold">
                نوشیدنی گرم
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold">
                قهوه دمی
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold">
                افزودنی
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold">
                چای و دمنوش
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold">
                شیک
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold">
                ماکتیل
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold text-white amiri-bold">
                نوشیدنی سرد<br> بر پایه قهوه
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold">
                صبحانه
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold">
                میان وعده
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold">
                پروتئین
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none !important;" class="text-center fw-bold  text-white amiri-bold ">
                کیک
            </a>
        </div>
    </div>
    <div class="row justify-content-center pt-3" dir="rtl">
        <div class="card mb-3 col-3 bg-black" style="width: 18rem;">
            <img src="https://hooklounge.vip/Media_folder/222/img_222_1628055611.jpg" class="img-fluid h-100 rounded-circle">
            <div class="card-body text-white">
                <h5 class="card-title text-center">اسپرسو</h5>
                <p class="card-text text-center">قهوه اساره گیری شده</p>
            </div>
            <table class="table text-center">
                <thead class="text-white">
                    <tr>
                        <th class="text-white">نام</th>
                        <th class="text-white">قیمت</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="text-white">30</td>
                        <td class="text-white">80/20</td>
                    </tr>
                    <tr>
                        <td class="text-white">40</td>
                        <td class="text-white">60/40</td>
                    </tr>
                    <tr>
                        <td class="text-white">50</td>
                        <td class="text-white">100</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-1">
        </div>
        <div class="card mb-3 col-3 bg-black" style="width: 18rem;">
            <img src="https://hooklounge.vip/Media_folder/222/img_222_1624714287.jpg" class="img-fluid h-100 rounded-circle">
            <div class="card-body text-white">
                <h5 class="card-title text-center">آمریکانو</h5>
                <p class="card-text text-center">اساره قهوه با آب جوش</p>
            </div>
            <table class="table text-center">
                <thead class="text-white">
                    <tr>
                        <th class="text-white">نام</th>
                        <th class="text-white">قیمت</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="text-white">30</td>
                        <td class="text-white">80/20</td>
                    </tr>
                    <tr>
                        <td class="text-white">40</td>
                        <td class="text-white">60/40</td>
                    </tr>
                    <tr>
                        <td class="text-white">50</td>
                        <td class="text-white">100</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-1">
        </div>
        <div class="card mb-3 col-3 bg-black" style="width: 18rem;">
            <img src="https://hooklounge.vip/Media_folder/222/img_222_1624714306.jpg" class="img-fluid h-100 rounded-circle">
            <div class="card-body text-white">
                <h5 class="card-title text-center">لاته</h5>
                <p class="card-text text-center">شیر و قهوه</p>
            </div>
            <table class="table text-center">
                <thead class="text-white">
                    <tr>
                        <th class="text-white">نام</th>
                        <th class="text-white">قیمت</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="text-white">30</td>
                        <td class="text-white">80/20</td>
                    </tr>
                    <tr>
                        <td class="text-white">40</td>
                        <td class="text-white">60/40</td>
                    </tr>
                    <tr>
                        <td class="text-white">50</td>
                        <td class="text-white">100</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</main>